{% extends 'core/base.html' %}
{% load static %}


<title style="margin-bottom: 24px;">Registro usuarios</title>


{% block body %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  {{ usuario_form.media }}
<body>
<!-- asi se alinean los formularios justificados -->
<div class="container" style="text-align:justify!important;" >
  <form  id="formulariousuario" action="" class="needs-validation" method="POST" novalidate>
    {% csrf_token %}
    {% if error %}
        <h4>{{ error }}</h4>
    {% else %}

    <div class="form-group">
      <label for="username">Nombre de Usuario:</label>
      <input type="text" class="form-control" minlength="3" maxlength="100" id="username" placeholder="Nombre de usuario" name="username" pattern="[a-z]{1,20}" autofocus required >
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa un nombre de usuario válido.</div>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" minlength="3" maxlength="50" id="nombre" placeholder="Nombre" name="nombre" pattern="[a-z]{1,20}" autofocus required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa un nombre válido.</div>
    </div>
    <div class="form-group" >
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" minlength="3" maxlength="50" id="apellido" placeholder="Ingrese su apellido" name="apellido" pattern="[a-z]{1,20}" autofocus required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa un apellido válido.</div>
    </div>
    <div class="form-group">
        <label for="rut">Rut:</label>
        <input type="text" class="form-control" minlength="9" maxlength="10" id="rut" placeholder="ingrese su rut" name="rut" pattern="\d{3,8}-[\d|kK]{1}" required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa un rut válido.</div>
    </div>
    <div class="form-group" >
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" class="form-control" id="fecha_nacimiento" max="23-06-2021" placeholder="01/02/2021" name="fecha_nacimiento" required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa una fecha de nacimiento válida.</div>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="usuario@mail.com" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa un email válido.</div>
    </div>
    <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" class="form-control" minlength="3" maxlength="50" id="direccion" placeholder=" calle sin nombre" name="direccion" pattern="[a-zA-Z ]{2,254}" autofocus required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa una dirección válida.</div>
    </div>
    <div class="form-group">
      <label for="nro_direccion">Nro. Dirección:</label>
      <input type="number" class="form-control" id="nro_direccion" placeholder=" #123" name="nro_direccion" required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa un numero de dirección válido.</div>
    </div>
    <div class="form-group">
      <label for="comuna">Comuna:</label>
      <select class="form-control" id="comuna">
        <option value="1">Providencia</option>
        <option value="2">San Bernardo</option>
        <option value="3" >La Serena</option>
        <option value="4">Temuco</option>
      </select>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa una comuna válida.</div>
    </div>
    <div class="form-group">
      <label for="password1">Contraseña:</label>
      <input type="password" class="form-control" id="password1" placeholder="ingrese su contraseña" name="password1" required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa una contraseña válida.</div>
    </div>
    <div class="form-group">
      <label for="password2">Reingrese su Contraseña:</label>
      <input type="password" class="form-control" id="password2" placeholder="Reingrese su contraseña" name="password2" required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa una contraseña válida.</div>
    </div>
    <button type="submit" class="btn btn-success float-right">Registrar</button>
    <button type="reset" class="btn btn-primary float-left">Limpiar</button>
    {% endif%}
  </form>
</div>
<!-- <script src="{% static 'js/base.js' %}"></script> -->

<script src="{% static 'js/validaciones.js' %}"></script>


<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


{% endblock body %}

