{% extends 'core/base.html' %}
{% load static %}


<title style="margin-top: 24px;">Registro usuarios</title>


{% block body %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  {{ usuario_form.media }}
<body>
<!-- asi se alinean los formularios justificados -->
<div class="container" style="text-align:justify!important;" >
  <h2 style="margin-bottom: 24px;">Registra tus datos para reservar tu atención</h2>
  <form action="" class="needs-validation" method="POST" novalidate>
    {% if form.non_field_errors or form.errors %}
    <div class="error-list-block">
        <p>
            Please correct the errors below - Ensure all required fields
            are completed.
        </p>
        <ul>
            {% for error in form.non_field_errors|add:form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% csrf_token %}
    {% if error %}
        <h4>{{ error }}</h4>
    {% else %}

    <div class="form-group">
      <label for="username">Nombre de Usuario:</label>
      <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" name="username" required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa un nombre de usuario válido.</div>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa un nombre válido.</div>
    </div>
    <div class="form-group" >
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido" name="apellido" required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa un apellido válido.</div>
    </div>
    <div class="form-group">
        <label for="rut">Rut:</label>
        <input type="text" class="form-control" id="rut" placeholder="ingrese su rut" name="rut" required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa un rut válido.</div>
    </div>
    <div class="form-group" >
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" class="form-control" id="fecha_nacimiento" placeholder="01/02/2021" name="fecha_nacimiento" required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa una fecha de nacimiento válida.</div>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="usuario@mail.com" name="email" required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa un email válido.</div>
    </div>
    <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" class="form-control" id="direccion" placeholder=" calle sin nombre" name="direccion" required>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa una dirección válida.</div>
    </div>
    <div class="form-group">
      <label for="nro_direccion">Nro. Dirección:</label>
      <input type="number" class="form-control" id="nro_direccion" placeholder=" #123" name="nro_direccion" required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa un numero de dirección válido.</div>
    </div>
    <div class="form-group">
      <label for="comuna">Seleccione la comuna donde quiere realizar sus atenciones:</label>
      <select value=option class="form-control" id="comuna" name="comuna" >
        {% for sucursal in sucursales %}
        <option value='{{ sucursal.id }}' placeholder="selecione su centro mas cercano">{{ sucursal }}</option>
        {% endfor %}
      </select>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa una comuna válida.</div>
    </div>
    <div class="form-group">
      <label for="password1">Contraseña:</label>
      <input type="password" class="form-control" id="password1" placeholder="ingrese su contraseña" name="password1" required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa una contraseña válida.</div>
    </div>
    <div class="form-group">
      <label for="password2">Reingrese su Contraseña:</label>
      <input type="password" class="form-control" id="password2" placeholder="Reingrese su contraseña" name="password2" required>
      <div class="valid-feedback">Ok.</div>
      <div class="invalid-feedback">Ingresa una contraseña válida.</div>
    </div>
    <button type="submit" class="btn btn-success float-right">Registrar</button>
    <button type="reset" class="btn btn-primary float-left">Limpiar</button>
    {% endif%}
  </form>
</div>
<!-- <script src="{% static 'js/base.js' %}"></script> -->


<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


{% endblock body %}