{% extends 'core/vista_enfermera.html' %}
{% load static %}


<title style="margin-bottom: 24px;">Registro Atenciones</title>


{% block panel %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>

<div class="container">
  <h1 style="margin: 70px 0 0 0px;">Registro de Atención</h1>
  <h2>Crea tu registro de atención</h2>
  <form action="" class="needs-validation" method="POST"> {% csrf_token %}
    {% if error %}
        <h4>{{ error }}</h4>
    {% else %}
      <div class="form-group">
        <label for="reserva">Seleccione la reserva a confirmar:</label>
        <select value=option class="form-control" id="reserva" name="reserva" >
          {% for reserva in reservas %}
          <option value='{{ reserva.id }}' placeholder="selecione la reserva">{{ reserva }}</option>
          {% endfor %}
        </select>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa una reserva válida.</div>
      </div>
      <div class="form-group">
        <label for="especialista">Seleccione el especialista para realizar la atención:</label>
        <select value=option class="form-control" id="especialista" name="especialista" >
          {% for especialista in especialistas %}
          <option value='{{ especialista.id }}' placeholder="selecione el especialista">{{ especialista }}</option>
          {% endfor %}
        </select>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa un especialista válido.</div>
      </div>
      <div class="form-group">
        <label for="box">Seleccione el box para realizar la atención:</label>
        <select value=option class="form-control" id="box" name="box" >
          {% for box in boxes %}
          <option value='{{ box.id }}' placeholder="selecione su centro mas cercano">{{ box }}</option>
          {% endfor %}
        </select>
        <div class="valid-feedback">Ok.</div>
        <div class="invalid-feedback">Ingresa un box válido.</div>
      </div>
      <button type="submit" class="btn btn-success float-right">Registrar</button>
      <button type="reset" class="btn btn-primary float-left">Limpiar</button>
    {% endif%}
  </form>
</div>
<!-- <script src="{% static 'js/base.js' %}"></script> -->


<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


{% endblock panel %}