{% extends 'core/vista_enfermera.html' %}
{% load static %}


<title style="margin-bottom: 24px;">Eliminar Especialidad</title>

{% block body %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>

<div class="container">
  <h1 style="margin: 70px 0 10px 0px;">Eliminar Especialidad</h1>

  <form method="POST">
    {% csrf_token %}
    <h2>¿Estas seguro de eliminar la especialidad {{especialidad.nombre }}?</h2>

    <button type="submit" class="btn btn-danger float-right">Eliminar</button>
    <a href="{% url 'listar_especialidad' %}" class="btn btn-warning float-left">Cancelar</a>
  </form>
</div>
<!-- <script src="{% static 'js/base.js' %}"></script> -->

{% endblock body %}