{% extends 'core/base.html' %}
{% load static %}

<title>Listado de Boxes</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.js"></script>


{% block body %}

   <div>
        <canvas id="myChart"></canvas>
   </div>  

    <script>
    
        var ctx= document.getElementById("myChart").getContext("2d");
        var myChart= new Chart(ctx, {
            type: "bar",
            data:{
                labels:['Disponible','Ocupado','Mantención'],
                datasets:[{
                    label:'Disponibilidad de boxes',
                    data:['Kinesiología','Fonoaudiología'],
                    backgroundcolor:[
                        'rgb(0, 153, 51)',
                        'rgb(204, 0, 0)',
                        'rgb(255, 153, 51)'

                    ]
                }]
            }
        });
            
        
    </script> 
{% endblock body %}