{% extends 'core/vista_enfermera.html' %}
{% load static %}

<title>Insumos</title>
 

{% block panel %}

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables_example">
           <thead>
              <tr>
                   <th>Id insumo</th>
                    <th>Nombre insumo</th>
                    <th>Especialidad</th>
                    <th>Stock</th>
              </tr>  
           </thead> 
        <tbody> 
            {% for item in consultas %}
                <tr>
                    {% for i in item %}
                        <td>
                           {{ i }}
                        </td>   
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>  
              
</table>              

{% endblock panel %}