{% extends 'core/vista_enfermera.html' %}
{% load static %}

<title>Listado de Sucursales</title>
 

{% block panel %}

{% if sucursales %}
    <h3 style="margin-bottom:24px;text-align:-webkit-center;">Registro de Sucursales</h3>
    <a href="{% url 'crear_sucursal' %}" class="btn btn-success float-right">Crear Sucursal</a>
    <table style="margin-top: 16px;" class="table table-hover">
        
        <th>Nro Sucursal</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Acciones</th>

        <tbody>
            {% for sucursal in sucursales %}
                <tr>
                    <td>{{ sucursal.id }}</td>
                    <td>{{ sucursal.nombre }}</td>
                    <td>{{ sucursal.direccion }}</td>                    
                    <td>
                        <a href="{% url 'editar_sucursal' sucursal.id %}" class="btn btn-warning">Modificar</a>
                        <a href="{% url 'eliminar_sucursal' sucursal.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="row pagination">
        <div class="col-md-12 col-lg-12 cl-sm-12 cl-xs-12">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
                {% if sucursales.has_previous %}
                    <div class="clearfix">
                        <a href="?page={{ sucursales.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">Anterior</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 col-lg-12 cl-sm-12 cl-xs-12">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
                {% if sucursales.has_next %}
                    <div class="clearfix">
                        <a href="?page={{ sucursales.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-right">Siguiente</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <h1 style="margin-top: 70px;">No existen elementos a listar</h1>
    <a href="{% url 'crear_sucursal' %}" class="btn btn-success">Agregar</a>
{% endif %}

{% endblock panel %}