{% extends 'core/vista_enfermera.html' %}
{% load static %}

<title>Listado de Atenciones</title>
 

{% block panel %}

{% if atenciones %}
    <!-- <nav class="navbar navbar-light" style="display: flow-root;width: 50%;">
        <form class="form-inline" style="display:flex;" method="GET">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input class="form-control mr-sm-2" type="text" id="search" placeholder="Buscar Reserva..." name="search" aria-label="search" value="{{ request.GET.search }}">
                    <span class="input-group-list">
                        <i class="icon icon-search"></i>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Buscar</button>
                    </span>
                </div>
            </div>
        </form>
    </nav> -->
    <h3>Registro de atenciones sucursal {{ user.comuna }}</h3>
    <a href="{% url 'listar_atenciones' %}" class="btn btn-primary float-left">Listar Todas</a>
    <a href="{% url 'listar_atenciones_today' %}" class="btn btn-primary float-left" style="margin-left: 8px;">Listar Hoy</a>
    <a href="{% url 'listar_reservas' %}" class="btn btn-success float-right">Crear Atención</a>
    <table style="margin-top: 16px;" class="table table-hover">
        
        <th>N° Atención</th>
        <th>Día reserva</th>
        <th>Centro</th>
        <th>Especialidad</th>
        <th>Paciente</th>
        <th>Especialista</th>
        <th>Box</th>
        <th>Acciones</th>
        <tbody>
            {% for atencion in atenciones %}
                <tr>
                    <td>{{ atencion.id}}</td>
                    <td>{{ atencion.reserva.dia_reservado }}</td>
                    <td>{% if atencion.reserva.sucursal == 1 %}Providencia{% elif atencion.reserva.sucursal == 2 %}San Bernardo{% elif atencion.reserva.sucursal == 3 %}La Serena{% else%}Temuco{% endif %}</td>
                    <td>{% if atencion.reserva.especialidad == 1 %}Kinesiología{% elif atencion.reserva.especialidad == 2 %}Fonoaudiología{% else %}General{% endif %}</td>
                    <td>{{ atencion.reserva.usuario.nombre }} {{ atencion.reserva.usuario.apellido }}</td>
                    <td>{{ atencion.especialista.nombre }} {{ atencion.especialista.apellido }}</td>
                    <td>{{ atencion.box }}</td>


                    <td>
                        <a href="{% url 'send_mail_reserva' atencion.id %}"  class="btn btn-success">Enviar Correo</a>
                        <a href="{% url 'editar_atencion' atencion.id %}" class="btn btn-warning">Modificar</a>
                        <a href="{% url 'eliminar_atencion' atencion.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="row">
        <div class="col-md-12 col-lg-12 cl-sm-12 cl-xs-12">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
                {% if atenciones.has_previous %}
                    <div class="clearfix">
                        <a href="?page={{ atenciones.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">Anterior</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 col-lg-12 cl-sm-12 cl-xs-12">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
                {% if atenciones.has_next %}
                    <div class="clearfix">
                        <a href="?page={{ atenciones.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-right">Siguiente</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <h1 style="margin-top: 70px;">No existen elementos a listar</h1>
    <button class="btn btn-warning float-center" onclick="history.back()">Volver</button>
{% endif %}

{% endblock panel %}