{% extends 'core/vista_enfermera.html' %}
{% load static %}

<title>Listado de Boxes</title>
 

{% block panel %}

{% if boxes %}
    <nav class="navbar navbar-light float-left" style="width: 50%;">
        <form class="form-inline" style="display:flex;" method="GET">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input class="form-control mr-sm-2" type="text" id="search" placeholder="Buscar Box..." name="search" aria-label="search" value="{{ request.GET.search }}">
                    <span class="input-group-list">
                        <i class="icon icon-search"></i>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Buscar</button>
                    </span>
                </div>
            </div>
        </form>
    </nav>
    <a href="{% url 'crear_box' %}" class="btn btn-success float-right">  Crear Box  </a>
    <table style="margin-top: 16px;" class="table table-hover">
        
        <th>Nro Box</th>
        <th>Estado</th>
        <th>Especialidad</th>
        <th>Centro Atención</th>
        <th>Opciones</th>
        <tbody style="vertical-align:middle">
            {% for box in boxes %}
                <tr>
                    <td>{{ box.id }}</td>
                    {% if box.estado == 1 %}<td style="background-color:darkgreen;opacity:0.8;color:white;font-weight:800;">Disponible</td>{% elif box.estado == 2 %} <td style="background-color:darkred;opacity:0.8;color:white;font-weight:800;">En atención</td> {% elif box.estado == 3 %} <td style="background-color:darkorange;opacity:0.8;color:white;font-weight:800;">En mantención</td> {% else %}<td style="background-color:darkgrey;opacity:0.8;color:white;font-weight:800;">No disponible, deshabilitada</td>{% endif %}
                    <td>{{ box.especialidad }}</td>
                    <td>{{ box.sucursal }}</td>
                    
                    <td>
                        <a href="{% url 'editar_box' box.id %}" class="btn btn-warning">Modificar</a>
                        <a href="{% url 'eliminar_box' box.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row pagination">
        <div class="col-md-12 col-lg-12 cl-sm-12 cl-xs-12">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
                {% if boxes.has_previous %}
                    <div class="clearfix">
                        <a href="?page={{ boxes.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">Anterior</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 col-lg-12 cl-sm-12 cl-xs-12">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
                {% if boxes.has_next %}
                    <div class="clearfix">
                        <a href="?page={{ boxes.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-right">Siguiente</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <h1 style="margin-top: 70px;">No existen elementos a listar</h1>
    <a href="{% url 'crear_box' %}" class="btn btn-success">Agregar</a>
{% endif %}

{% endblock panel %}