{% extends 'core/vista_enfermera.html' %}
{% load static %}

<title>Listado de Reservas</title>
 

{% block panel %}

{% if reservas %}
    <h3 style="margin-bottom: 24px;">Registro de reservas sucursal {{ user.comuna }}</h3>
    <div style="display: flex;align-items: left;">
        <div>
            <a href="{% url 'listar_reservas_today' %}" class="btn btn-primary">Hoy</a>
            <a href="{% url 'listar_reservas_fono' %}" class="btn btn-primary">Fonoaudiologos</a>
            <a href="{% url 'listar_reservas_kine' %}" class="btn btn-primary">Kinesiologos</a>
            <a href="{% url 'listar_reservas' %}" class="btn btn-primary">Todas</a>
        </div>    
    </div>
    <table style="margin-top: 16px;" class="table table-hover">
        
        <th>Especialidad</th>
        <th>Dia reservado</th>
        <th>Sucursal</th>
        <th>Nombre paciente</th>
        <th>Rut paciente</th>
        <th>Fecha Nacimiento</th>
        <th>Opciones</th>
        <tbody>
            {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.especialidad }}</td>
                    <td>{{ reserva.dia_reservado }}</td>
                    <td>{{ reserva.sucursal }}</td>
                    <td>{{ reserva.usuario.nombre }} {{ reserva.usuario.apellido  }}</td>
                    <td>{{ reserva.usuario.rut  }}</td>
                    <td>{{ reserva.usuario.fecha_nacimiento }}</td>
                    <td>
                        <a href="{% url 'editar_reserva' reserva.id %}" class="btn btn-warning">Modificar</a>
                        <a href="{% url 'eliminar_reserva' reserva.id %}" class="btn btn-danger">Eliminar</a>
                        <a href="{% url 'crear_atencion' reserva.id reserva.especialidad reserva.sucursal %}" class="btn btn-success">Crear Atención</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="row">
        <div class="col-md-12 col-lg-12 cl-sm-12 cl-xs-12">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
                {% if reservas.has_previous %}
                    <div class="clearfix">
                        <a href="?page={{ reservas.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">Anterior</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 col-lg-12 cl-sm-12 cl-xs-12">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
                {% if reservas.has_next %}
                    <div class="clearfix">
                        <a href="?page={{ reservas.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-right">Siguiente</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <h1 style="margin-top: 70px;">No existen elementos a listar</h1>
    <button class="btn btn-warning float-center" onclick="history.back()">Volver</button>
{% endif %}

{% endblock panel %}