{% extends 'core/vista_enfermera.html' %}
{% load static %}

<title>Listado de Usuarios</title>
 
{% block extra_css %}
 <link rel="stylesheet" href="{% static 'css/DataTables/datatables.bootstrap.min.css' %}">
{% endblock extra_css %}

{% block panel %}


    <table id="tabla_usuarios" style="margin-top: 60px;" class="table table-hover">
        
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Rut</th>
        <th>Fecha Nacimiento</th>
        <th>Motivo Atencion</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Acciones</th>
        <tbody>
           
        </tbody>

    </table>


{% endblock panel %}

{% block extrajs %}
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'DataTables/datatables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}