<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/robotos.css">
    <link rel="stylesheet" href="css/edudown.css">
    <link rel="icon" type="jpg" href="img/icono.jpg">
    
    <title>Robotos Company</title>
</head>
<body>

    <header>
        <nav class="nav1">
          <div class="photo">  
            <img src="img/edudown2.jpg" alt="edu" height="100"></a>
          </div> 
            <a class="nav1" href="edudown.html">Inicio</a>
            <a class="nav1" href="iniciar-sesión.html">Iniciar Sesión</a>      
            <a class="nav1" href="listado.html">Listado</a>  
            <a class="nav1" href="registro.html">Registro</a>        
        </nav>


    <h2>Robotos Company</h2>

    <p><b>Su impacto fue tan grande que su nombre se convirtió en una leyenda.</b>

        <p><i>Así como en la actualidad se dice "googlear" para referirse a la búsqueda de información en internet, hace más de medio siglo la palabra Robotos se convirtió en una palabra conocida mundialmente.
        Cuando en 2021 Robotos introdujo en el mercado la primera pagina web, que abocó a la obsolescencia en el uso de la compra cibernetica, su invención fue considerada tan revolucionaria como el primer iPhone presentado por Steve Jobs en 2007.        
        En muy poco tiempo, los hosptitales se interesaron en su servicio asi como tambien los centros de agendamiento de horas medicas.</i>
        </p>
        <hr>
        <p>Cabalgando sobre el dominio de esta tecnología, Robotos se convirtió durante los años 2022 y 2021 en una de las empresas más valiosas del mundo.
            Esta semana, ha logrado un avance increible debido a una creacion de servicio web llamada ABAE (Agendamiento Box De Atencion EduDown) 
            la cual es un instituto sin fines de lucro para atender a jovenes y adultos con sindrome de down, lo cual esta institucion se intereso en el talento de Robotos Company para ayudar a gente que necesita incluirse en algun trabajo.</p>

        <p>Esa tecnología fue creada por <b>Daniel Gajardo Antiguay, Juan Carlos Jaramillo Moreno, Denisse Leon, Gary Lazcano Garcia;inventores de esta gran aplicacion que ha ayudado a muchas personas a lo largo de chile, tambien estan pensando en extenderse mundialmente.</b></p>
 

        <div>
            <img src="img/Robotics-Company.jpg">
        </div>
</body>
</html>