{% extends 'core/base.html' %}
{% load static %}

<title>Listado de Boxes</title>
 

{% block body %}


<div class="card text-center">
  <div class="card-header">
    {% block nav %}
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_pacientes'%}">Listar Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_funcionarios'%}">Listar Funcionarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_boxes'%}">Listar boxes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_reservas'%}">Listar reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_atenciones'%}">Listar atenciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'insumo'%}">Stock Insumos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'crear_funcionario'%}">Registrar Funcionario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_sucursales'%}">Listar Sucursales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_especialidad'%}">Listar Especialidades</a>
      </li>
    </ul>
    
    {% endblock nav%}
  </div>
  <div class="card-body">
    {% block panel %}
    <h5 class="card-title">Bienvenid@ {{ user.get_username }} a la gestión del sistema de agendamiento de box atención</h5>
    <p class="card-text">en este panel puedes encontrar las opciones disponibles.</p>
    <a href="{% url 'listar_reservas'%}" style="margin-top: 40px;" class="btn btn-primary">Vamos a Crear Una Atención</a>
    {% endblock panel %}
  </div>
</div>



{% endblock body %}