{% extends 'core/base.html' %}
{% load static %}

<title>Panel de control Funcionario</title>
 

{% block body %}


<div class="card">
  <div class="card-header">
    {% block nav %}
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'editar_self_usuario'%}">Mis otracosa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'crear_reservas'%}">Crear otracosa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_reservas_self' %}">Mis Reservas</a>
      </li>
    </ul>
    {% endblock nav%}
  </div>
  <div class="card-body">
    {% block panel %}
    <h5 class="card-title">Bienvenido {{ usuario }} al Sistema de Agendamiento de Box atención</h5>
    <p class="card-text">en este panel puedes encontrar las opciones disponibles.</p>
    <a href="{% url 'crear_reservas'%}" style="margin-top: 40px;" class="btn btn-primary">Vamos a Crear Una Reserva</a>
    {% endblock panel %}
  </div>
</div>



{% endblock body %}