{% extends 'core/base.html' %}
{% load static %}

<title>Panel de control Funcionario</title>
 

{% block body %}


<div class="card">
  <div class="card-header">
    {% block nav %}
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'editar_self_funcionario'%}">Mis Datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_atenciones_self_today'%}">Mis Atenciones Hoy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_atenciones_self' %}">Historico atenciones</a>
      </li>
    </ul>
    {% endblock nav%}
  </div>
  <div class="card-body">
    {% block panel %}
    <h5 class="card-title">Bienvenido {{ usuario }} al Sistema de Atenciones</h5>
    <p class="card-text">en este panel puedes encontrar las opciones disponibles.</p>
    <a href="{% url 'listar_atenciones_self'%}" style="margin-top: 40px;" class="btn btn-primary">Vamos a Mis Atenciones</a>
    {% endblock panel %}
  </div>
</div>



{% endblock body %}